/* line 2, ../compass/sass/style.scss */
body img {
  width: 100%;
}
/* line 5, ../compass/sass/style.scss */
body #edit-wrapper {
  float: right;
}
/* line 8, ../compass/sass/style.scss */
body #bookmarks-bar-wrapper {
  margin-top: 50px;
  width: 15%;
  background-color: #9d9d9d;
}
/* line 13, ../compass/sass/style.scss */
body #bookmarks-bar-wrapper #bookmark-bar #bar-add-button {
  text-align: center;
  margin: 10px auto;
}
/* line 17, ../compass/sass/style.scss */
body #bookmarks-bar-wrapper #bookmark-bar #url-text {
  font-size: 12px;
}
/* line 20, ../compass/sass/style.scss */
body #bookmarks-bar-wrapper #bookmark-bar ul {
  list-style: none;
  padding: 0;
}
/* line 23, ../compass/sass/style.scss */
body #bookmarks-bar-wrapper #bookmark-bar ul li {
  font-size: 16px;
  padding: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
/* line 29, ../compass/sass/style.scss */
body #bookmarks-bar-wrapper #bookmark-bar ul li span {
  padding: 10px 0;
}
/* line 32, ../compass/sass/style.scss */
body #bookmarks-bar-wrapper #bookmark-bar ul li .titles {
  background-color: #9d9d9d;
}
/* line 35, ../compass/sass/style.scss */
body #bookmarks-bar-wrapper #bookmark-bar ul li .titles:hover {
  color: white;
  cursor: pointer;
}
/* line 40, ../compass/sass/style.scss */
body #bookmarks-bar-wrapper #bookmark-bar ul li .views {
  text-align: center;
  background-color: #8c8c8c;
}
/* line 48, ../compass/sass/style.scss */
body #iframe {
  position: absolute;
  top: 50px;
  left: 15%;
  width: 85%;
}
/* line 54, ../compass/sass/style.scss */
body #bookmarks-wrapper {
  margin-top: 50px;
}
/* line 56, ../compass/sass/style.scss */
body #bookmarks-wrapper .bookmark {
  margin-bottom: 15px;
}
/* line 60, ../compass/sass/style.scss */
body #adder-wrapper {
  margin: 50px 0;
  border: 3px solid #ffe6cc;
  border-radius: 10px;
  background-color: #ccffff;
  padding: 20px;
}
/* line 66, ../compass/sass/style.scss */
body #adder-wrapper input, body #adder-wrapper label {
  width: 80%;
}
/* line 69, ../compass/sass/style.scss */
body #adder-wrapper #adder-button {
  margin-top: 20px;
}
/* line 73, ../compass/sass/style.scss */
body .group-select {
  height: 34px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}
/* line 82, ../compass/sass/style.scss */
body .modal-footer #updater-button {
  float: left;
}
/* line 85, ../compass/sass/style.scss */
body .modal-footer button {
  margin-top: 15px;
}
