<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#/">THE MASTER BOOKMARK MANAGER</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li class="dropdown" ng-repeat="group in groups track by $index">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">{{group}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-repeat="bookmark in bookmarks | filter: group"><a ng-click="gotoBookmark(bookmark);" href="{{bookmark.address}}" target="_blank">{{bookmark.title}}</a></li>
                </ul>
            </li>
        </ul>
        <ul id="edit-wrapper" class="nav navbar-nav">
            <li><a href="#/edit">Edit Bookmarks</a></li>
        </ul>
    </div>
</nav>

<div id="bookmarks-bar-wrapper" ng-style="{height: myHeight}">
    <div id="bookmark-bar">
        <form id="addBookmark-form-main" name="bookmark-adder-main" role="form" ng-submit="addBookmark(iframeUrl)">
            <div class="col-sm-12 text-center">
                    <button id="bar-add-button" type="submit" class="btn btn-primary">ADD CURRENT PAGE</button>
            </div>
            <input class="col-sm-12 form-control" type="url" id="url-text" ng-model="iframeUrl" value="{{iframeUrl}}" required placeholder="i.e. http://www.w3schools.com/">
        </form>
        <h3 id="favorites"class="col-sm-12 text-center">Most Popular</h3>
            <ul>
                <li class="bookmark-bar-bookmark col-sm-12" ng-repeat="bookmark in bookmarks | orderBy: 'viewCount': true"><span ng-click="changeUrl(bookmark, $event);" class="titles col-sm-7">{{bookmark.title}}</span><span class="views col-sm-5">Views: <span id="number-of-views">{{bookmark.viewCount}}</span></span></li>
            </ul>
    </div>
</div>

<iframe id="iframe" class="" ng-style="{height: myHeight}" ng-src="{{iframeUrl | trustAsResourceUrl}}"></iframe>


