<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">THE MASTER BOOKMARK MANAGER</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Group 1</a></li>
            <li><a href="#">Group 2</a></li> 
            <li><a href="#">Group 3</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div id="bookmarks-wrapper">
        <div id="adder-wrapper" class="col-md-12">
            <form id="addBookmark-form" name="bookmark-adder" role="form" ng-submit="addBookmark(this)">
                <div class="col-md-3">
                    <label>Title</label>
                    <input type="text" ng-model="title" class="form-control" placeholder="i.e. Google" required="title">
                </div>
                <div class="col-md-5">
                    <label>Address</label>
                    <input type="url" ng-model="address" placeholder="https://www.google.com/" required>
                </div>
                <div class="col-md-3">
                    <label>Group</label>
                    <input type="text" ng-model="group" placeholder="" required="group">
                </div>
                <div class="col-md-1">
                    <button id="adder-button" type="submit" class="btn btn-success">ADD</button>
                </div>
            </form>
        </div>
        
        <div ng-show="message" class="text-success col-md-12 text-center">{{success}}</div>

        <div ng-repeat="bookmark in bookmarks track by $index" class="bookmark col-md-8 col-md-offset-2">
            <div class="col-md-2">
                <a ng-click="gotoBookmark(bookmark);" href="{{bookmark.address}}" target="_blank"><button type="button" class="btn btn-success">Go To</button></a>
            </div>
            <div class="col-md-2">{{bookmark.title}}</div>
            <div class="col-md-4">{{bookmark.address}}</div>
            <div class="col-md-2">Views: {{bookmark.viewCount}}</div>
            <div class="col-md-2"><button type="button" class="btn btn-danger" ng-click="removeBookmark(bookmark);" >Delete</button></div>
        </div>

    </div> 

</div>
